@(students: List[models.Student])

@main("Welcome") {
  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Welcome to my first scala play web application</a>.</p>
  </div>

  <div class="wrapper">
    @for(student <- students){
    <a style="color:inherit;text-decoration:none" href="@routes.StudentsController.fetchStudentById(student.id)">
      <div class="box">
        <p>
          <b> Id:</b>  @student.id
        </p>
        <p>
          <b> Name : </b> @student.name
        </p>
      </div>
    </a>
    }
  </div>

}
