@(students: List[models.Student])
@main("List of Students"){

    @if(!students.isEmpty){
    <div class="text-center">
        <h1 class="display-4">List of Students</h1>
        <table class ="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>GPA</th>
            </tr>
            </thead>
            <tbody>
            @for(student <- students) {
            <tr>
                <td>
                    @student.id
                </td>
                <td>
                    @student.name
                </td>
                <td>
                    @student.gpa
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <button> <a style="color:inherit;text-decoration:none" href="@routes.StudentsController.fetchStudentById(student.id)">Details</a>  </button>
                                </td>
                                <td>
                                    <button> <a style="color:inherit;text-decoration:none" href="@routes.StudentsController.updateStudent(student.id)">Edit</a> </button>
                                </td>
                                <td>
                                    <form action="@routes.StudentsController.deleteStudent(student.id)" method="post">
                                        <button type="submit" value="Submit">Delete</button>
                                    </form >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    } else{
        <div class="text-center"> <p>No students</p> </div>
    }
}
